.card-container {
  margin-top: 50px;
  width: 100%; 
  max-width: 950px;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .card-container {
    width: calc(100% - 60px); 
  }
}

@media (min-width: 401px) and (max-width: 900px) {
  .card-container {
    width: calc(100% - 80px);
  }
}

@media (min-width: 901px) {
  .card-container {
    width: 1200px;
  }
}
