.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-right: 20px;
}
.textfield {
  width: 90%;
  margin-bottom: 20px;
  margin-left: 50px;
}
.addButton {
  position: fixed;
  margin-bottom: 100px;
  margin-top: 50px;
  left: 50px;
}

@media (max-width: 400px) {
  .textfield {
    width: calc(100% - 40px);
  }
}

@media (min-width: 401px) and (max-width: 900px) {
  .textfield {
    width: calc(100% - 60px);
  }
}

@media (min-width: 901px) {
  .textfield {
    width: 1000px;
    margin-left: 50px;
  }
}
